name: SAST

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - main
      
  schedule:
    # Daily scan (off-peak)
    - cron: '12 15 * * *'

permissions:
  contents: read
  pull-requests: read

jobs:

  

  snyk:
    name: Snyk SAST Scan
    runs-on: ubuntu-latest
     
    permissions:
      security-events: write

      # If your repository is private, also add:
      actions: read
      contents: read

    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test
          args: --sarif-file-output=snyk.sarif

  

  semgrep:
    name: Semgrep SAST Scan
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    container:
      image: semgrep/semgrep
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Semgrep
        run: semgrep ci


      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: eslint-results.sarif
          snyk_file: snyk.sarif
          wait-for-processing: true
